{% extends 'base.html.twig' %}

{% block title %}Moje postaci{% endblock %}

{% block body %}
<div class="container-lg">
    <div id="myCharacterList">
        <div class="header"><h1>Lista postaci</h1></div>
        <div class="content">
        {# {{ dump(characters) }} #}
        {% for character in characters %}
            <div class="character">
                <a href='#' class="d-flex">
                    <div class="characterImg col-3"></div>
                    <div class="characterInfo">
                        <div class="characterImg"><h1>{{ character.name }}</h1></div>

                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
        <div class="characterListNav">
            {% if page > 1 %}
            <a href="{{path('app_my_characters', { 'page' : page-1 })}}"><button type="submit" class="btn btn-primary">Poprzednia</button></a>
            {% endif %}
            {% if page < maxPage %}
            <a href="{{path('app_my_characters', { 'page' : page+1 })}}"><button type="submit" class="btn btn-primary">Następna</button></a>
            {% endif %}
        </div>
    </div>

  
</div>
{% endblock %}
