{% extends 'base.html.twig' %}

{% block title %}Karta Postaci {{character.name}}{% endblock %}

{% block body %}
<div class="container-lg">
    {% for error in app.flashes('error') %}
     <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    <div id="characterSheet">
        <div class="sheetSection">
                <div id="characterImg">
                    <div></div>
                </div>
            </div>
        <div class="sheetSection">
            <div id="characterInfo">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="2"><label>Nazwa postaci:</label><span>{{character.name}}</span></td>
                            <td><label>Rasa:</label><span>Krasnolud</span></td>
                            <td><label>Klasa:</label><span>Wojownicy </span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label>Profesja:</label><span>Wędrowny czarodziej</span></td>
                            <td colspan="2"><label>Poziom profesji:</label><span>2</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><label>Ścieżka profesji:</label><span>Wędrowny czarodziej</span></td>
                            <td><label>Status:</label><span>Srebro 2</span></td>
                        </tr>
                        <tr>
                            <td><label>Wiek:</label><span>21</span></td>
                            <td><label>Wzrost:</label><span>201 cm</span></td>
                            <td><label>Włosy:</label><span>Nefrytowo Czarne</span></td>
                            <td><label>Oczy:</label><span>błękito-Niebieskie </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="sheetSection">
            <div id="characterAttributes">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="12" class="text-center"><label>Cechy</label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label></label></td>
                           <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Początkowa</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Rozwinięcia</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                         <tr>
                            <td colspan="2"><label>Aktualna</label></td>
                            <td><span>WW</span></td>
                            <td><span>US</span></td>
                            <td><span>S</span></td>
                            <td><span>Wt</span></td>
                            <td><span>I</span></td>
                            <td><span>Zw</span></td>
                            <td><span>Zr</span></td>
                            <td><span>Int</span></td>
                            <td><span>SW</span></td>
                            <td><span>Ogł</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="characterPoints">
                <table>
                    <tbody>
                         <tr>
                            <td colspan="6" class="text-center"><label>Punkty Doświadczenia:</label><span>10000000</span></td>
                        </tr>
                         <tr>
                            <td colspan="3"><label>Wolne:</label><span>12220</span></td>
                            <td colspan="3"><label>Wydane:</label><span>10000</span></td>
                           
                        </tr>
                        <tr>
                            <td colspan="3"><label>Punkty Bohatera:</label><span>2</span></td>
                            <td colspan="3"><label>Punkty Determinacji:</label><span>2</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"><label>Punkty Przeznaczenia:</label><span>2</span></td>
                            <td colspan="3"><label>Punkty Szczęścia:</label><span>2</span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label>Szybkość:</label><span>2</span></td>
                            <td colspan="2"><label>Chód:</label><span>x2</span></td>
                            <td colspan="2"><label>Bieg:</label><span>x4</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
           {# <div class="accordion-item">
           <h2 class="accordion-header" id="item-head-0"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-0" aria-expanded="false" aria-controls="item-0" data-dashlane-rid="f895bd2a3492c014" data-dashlane-label="true" data-form-type="">Aptekarz</button></h2>
           <div id="item-0" class="accordion-collapse collapse" aria-labelledby="item-head-0" data-bs-parent="#list" style="">
           <div class="accordion-body"><strong>Maksymana liczba rozwinięć: Bonus z Inteligencji</strong> <br><br> Możesz odwrócić kolejność kości nieudanego Testu Rzemiosła (Aptekarstwa), jeśli nowy wynik pozwoli ci odnieść sukces.</div> </div></div> #}
    </div>

  
</div>
{% endblock %}
