{% extends 'base.html.twig' %}

{% block title %}Zmiany{% endblock %}

{% block body %}
<div class="container-lg">
    {% for error in app.flashes('error') %}
     <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}

    <div id="channelLog">
    <h1 class="text-center">Lista zmian <h1>
    <h3>24.04.2023r.</h3>
    <p>Utowrzone są 3 konta: admin, mysuerek, milus. Hasła do waszych sa takie same jak login.</p>
    <p>Wrzuciłem nowszą wersje, pracuje nad prefesjami aby działały od początku bo ma to wpływ na resztę rozwoju i edycji postaci.</p>
    <p>Zadanie na dziś. Spróbować zmianić kolor oczy, wieku albo inna taką opisową rzecz w swojej postaci. Nie zmieni się na stałe, nie ma dole przycisku zapisz ale ciekaw jestem czy jest intuicyjne dla was?</p>
    <p></p>
    <p></p>
    </div>
</div>
{% endblock %}
