{% extends 'base.html.twig' %}

{% block title %}Katalog postaci{% endblock %}

{% block body %}

<div class="wrapper">
    <div id="catalogCharacterList">
        <div class="header"><h1>Lista postaci</h1></div>
        <div class="content">
        {{ dump(test) }}
        </div>
        <div class="characterListNav">
            {% if page > 0 %}
            <a href="{{path('app_catalog', { 'page' : page-1 })}}"><button type="submit" class="btn btn-primary">Poprzednia</button></a>
            {% endif %}
            {% if page + 1 < maxPage   %}
            <a href="{{path('app_catalog', { 'page' : page+1 })}}"><button type="submit" class="btn btn-primary">Następna</button></a>
            {% endif %}
        </div>
    </div>

  
</div>
{% endblock %}
